In [1]:
from pymongo import MongoClient
import pymongo
import pandas as pd
import numpy as np
import src.tools.mongo as mongo
import src.tools.geo as geo
import src.tools.google as google
import time
import dotenv
import os
dotenv.load_dotenv()
key = os.getenv("GOOGLE_KEY")

Connect to Mongo

In [2]:
client=mongo.localConection()
db = client.companies

Create new collection

In [3]:
facilities=db["facilities"]

Eliminar puntos lejanos de la ciudad o con la latitud incorrecta

In [22]:
cities=pd.DataFrame(db.offices.find({},{"city":1,"_id":0}))
cities=cities[~cities.duplicated()]

Get all the cities

In [ ]:
for city in cities.city:
    time.sleep(1.5)
    db.offices.delete_many(mongo.farPoints(city, 10))

In [27]:
cities=pd.DataFrame(db.offices.find({},{"city":1,"latitude":1,"longitude":1,"_id":0}))

In [40]:
cities=cities.groupby("city").mean()

In [31]:
def geopoint(long, lat): 
    return {'type': 'Point', 'coordinates': [long,lat]}

cities["geopoint"]=np.vectorize(geopoint)(cities["longitude"],cities["latitude"])

client=mongo.localConection()
db = client.companies
coll=db["prueba"] 
coll.insert_many(cities.to_dict('record'))
coll.create_index([('geopoint', pymongo.GEOSPHERE)])

'geopoint_2dsphere'

In [7]:
#Buscar y guradar info de la ciudad
#name ranking coord

In [82]:
school=[]
for i in range(3):
    print(cities.iloc[i].latitude,cities.iloc[i].longitude)
    aux=google.getNearbyplaces(cities.iloc[i].latitude,cities.iloc[i].longitude,radius=15000,googleType="school")
    print("=====")
    print(i)
    print(len(aux))
    school+=aux

33.766154047368424 -84.37878671052631
=====
0
60
30.2705520088889 -97.76187868888891
=====
1
60
52.51623264516128 13.400849138709676
=====
2
60

In [83]:
df_school=pd.DataFrame(school)
df_school["geopoint"]=np.vectorize(geopoint)(df_school["longitude"],df_school["latitude"])

client=mongo.localConection()
db = client.companies
coll=db["prueba2"] 
coll.insert_many(df_school.to_dict('record'))
coll.create_index([('geopoint', pymongo.GEOSPHERE)])

'geopoint_2dsphere'

In [80]:
df_school

,name,latitude,longitude,rating,geopoint
0,David Lloyd Cambridge,52.193778,0.167308,3.5,"{'type': 'Point', 'coordinates': [0.1673081, 5..."
1,The Leys School,52.196595,0.120370,4.2,"{'type': 'Point', 'coordinates': [0.1203697, 5..."
2,Sawston Village College,52.126230,0.164750,4.3,"{'type': 'Point', 'coordinates': [0.16475, 52...."
3,Chesterton Sports Centre,52.217649,0.121782,4.0,"{'type': 'Point', 'coordinates': [0.121782, 52..."
4,Saint Phillip's Church of England Primary School,52.200505,0.154186,3.0,"{'type': 'Point', 'coordinates': [0.154186, 52..."
5,"Churchill College, University of Cambridge",52.213130,0.099870,4.6,"{'type': 'Point', 'coordinates': [0.09987, 52...."
6,Coleridge School,52.192750,0.152400,NaN,"{'type': 'Point', 'coordinates': [0.1524003, 5..."
7,Scallywags Day Nursery,52.238777,0.084028,5.0,"{'type': 'Point', 'coordinates': [0.0840283, 5..."
8,Scallywags,52.267834,0.081309,4.8,"{'type': 'Point', 'coordinates': [0.0813089999..."
9,Hills Road Sports & Tennis Centre,52.187323,0.134940,4.4,"{'type': 'Point', 'coordinates': [0.1349405, 5..."
10,St Matthew's Primary School,52.204616,0.134419,4.1,"{'type': 'Point', 'coordinates': [0.134419, 52..."
11,EC Cambridge English Language School,52.205946,0.132752,3.9,"{'type': 'Point', 'coordinates': [0.132752, 52..."
12,"St Mary's School, Cambridge",52.195136,0.125396,3.3,"{'type': 'Point', 'coordinates': [0.1253956, 5..."
13,Long Road Sixth Form College,52.178162,0.132719,3.7,"{'type': 'Point', 'coordinates': [0.1327189, 5..."
14,Comberton Village College,52.185178,0.011882,2.6,"{'type': 'Point', 'coordinates': [0.0118822, 5..."
15,St Faith's,52.189061,0.122716,4.3,"{'type': 'Point', 'coordinates': [0.122716, 52..."
16,Nuffield Health Fitness & Wellbeing Gym,52.206414,0.148191,3.7,"{'type': 'Point', 'coordinates': [0.148191, 52..."
17,Homerton Nursery School,52.180149,0.146683,4.3,"{'type': 'Point', 'coordinates': [0.1466826, 5..."
18,King's Hedges Educational Federation,52.232447,0.129701,3.9,"{'type': 'Point', 'coordinates': [0.1297009, 5..."
19,Harvey Road Day Nursery,52.199032,0.129866,NaN,"{'type': 'Point', 'coordinates': [0.1298658, 5..."
20,Smiths Children Montessori,52.215867,0.116318,4.3,"{'type': 'Point', 'coordinates': [0.116318, 52..."
21,Queen Edith Community Primary School,52.181134,0.154596,4.3,"{'type': 'Point', 'coordinates': [0.1545962, 5..."
22,Cambridge Melchior College (CMC),52.314296,0.061107,2.5,"{'type': 'Point', 'coordinates': [0.0611072, 5..."
23,Morley Memorial Primary School,52.186329,0.144638,4.8,"{'type': 'Point', 'coordinates': [0.1446375, 5..."
24,Cambridgeshire Wine School,52.197610,0.121875,5.0,"{'type': 'Point', 'coordinates': [0.1218754, 5..."
25,Fitness TM,52.190322,0.137085,NaN,"{'type': 'Point', 'coordinates': [0.1370847, 5..."
26,Angela Fenton,52.224203,0.139976,NaN,"{'type': 'Point', 'coordinates': [0.1399755, 5..."
27,Dave Cartwright Guitar Lessons,52.197996,0.145470,5.0,"{'type': 'Point', 'coordinates': [0.14547, 52...."
28,Dr. Bass bass and guitar tuition,52.197823,0.133754,5.0,"{'type': 'Point', 'coordinates': [0.1337541, 5..."
29,"CCSS Cambridge Centre for Sixth-form Studies, ...",52.198237,0.123328,NaN,"{'type': 'Point', 'coordinates': [0.123328, 52..."
...,...,...,...,...,...
150,Hills Road Sixth Form College,52.188090,0.135277,4.2,"{'type': 'Point', 'coordinates': [0.135277, 52..."
151,Fulbourn Preschool,52.182375,0.220651,NaN,"{'type': 'Point', 'coordinates': [0.2206513, 5..."
152,Hauxton Primary School,52.147120,0.104520,3.5,"{'type': 'Point', 'coordinates': [0.1045202, 5..."
153,Mrs Cameron Day Nursery,52.200653,0.111959,NaN,"{'type': 'Point', 'coordinates': [0.1119589, 5..."
154,Park Street C of E Primary School,52.209897,0.119714,5.0,"{'type': 'Point', 'coordinates': [0.1197136, 5..."
155,Tai chi in Cambridge,52.208059,0.134746,NaN,"{'type': 'Point', 'coordinates': [0.1347464, 5..."
156,Girton Nursery,52.248100,0.080392,5.0,"{'type': 'Point', 'coordinates': [0.0803922, 5..."
157,The Fitness Class,52.261396,0.072547,NaN,"{'type': 'Point', 'coordinates': [0.0725471999..."
158,Get Active with Body in Motion Fitness Classes,52.261396,0.072547,NaN,"{'type': 'Point', 'coordinates': [0.0725471999..."
159,Domino Nursery School,52.179271,0.223516,NaN,"{'type': 'Point', 'coordinates': [0.2235158, 5..."
160,Hauxton Pre-school,52.146388,0.104272,5.0,"{'type': 'Point', 'coordinates': [0.1042722, 5..."
161,Chinese in Cambridge,52.234035,0.153537,NaN,"{'type': 'Point', 'coordinates': [0.1535372, 5..."
162,Kumon Maths & English,52.186410,0.144546,5.0,"{'type': 'Point', 'coordinates': [0.1445458, 5..."
163,Les Filous - French Tuitions,52.205036,0.138394,NaN,"{'type': 'Point', 'coordinates': [0.1383939, 5..."
164,Sprachschule Cambridge,52.194708,0.133917,NaN,"{'type': 'Point', 'coordinates': [0.1339167, 5..."
165,The Cambridge School of Graphology,52.260714,0.163256,NaN,"{'type': 'Point', 'coordinates': [0.1632561, 5..."
166,Babraham Nursery,52.133839,0.211656,NaN,"{'type': 'Point', 'coordinates': [0.2116558, 5..."
167,Chesterton Community College,52.217367,0.120407,3.7,"{'type': 'Point', 'coordinates': [0.120407, 52..."
168,Rosie's Childcare,52.265092,0.192548,NaN,"{'type': 'Point', 'coordinates': [0.1925484, 5..."
169,Oakington C of E Community Primary School,52.260474,0.069658,NaN,"{'type': 'Point', 'coordinates': [0.0696579, 5..."
170,Bar Hill Pre School,52.250491,0.018665,3.0,"{'type': 'Point', 'coordinates': [0.0186645, 5..."
171,Saplings Preschool,52.220215,0.264744,5.0,"{'type': 'Point', 'coordinates': [0.264744, 52..."
172,Swaffham Bulbeck C of E Primary School,52.237394,0.276577,NaN,"{'type': 'Point', 'coordinates': [0.2765774, 5..."
173,Eisner James,52.220805,0.143557,NaN,"{'type': 'Point', 'coordinates': [0.1435572, 5..."
174,Mike Barnes Drums,52.212012,0.192958,5.0,"{'type': 'Point', 'coordinates': [0.192958, 52..."
175,Little Warblers Pre-School,52.197173,0.263621,NaN,"{'type': 'Point', 'coordinates': [0.2636208999..."
176,Harston and Newton County Primary School,52.137094,0.081362,3.0,"{'type': 'Point', 'coordinates': [0.0813624000..."
177,Little Legs of Lode,52.241847,0.245625,5.0,"{'type': 'Point', 'coordinates': [0.245625, 52..."
178,Ashtanga Yoga Cambridge,52.200096,0.138382,5.0,"{'type': 'Point', 'coordinates': [0.138382, 52..."
179,Cambridge Montessori,52.197986,0.135579,4.6,"{'type': 'Point', 'coordinates': [0.135579, 52..."

In [11]:
b["geopoint"]=np.vectorize(mongo.geopoint)(b["longitude"],b["latitude"])

In [12]:
b.head()

,name,latitude,longitude,rating,geopoint
0,Manhattan School of Music,40.812632,-73.961679,4.4,"{'type': 'Point', 'coordinates': [-73.9616791,..."
1,Stuyvesant High School,40.717758,-74.013864,4.2,"{'type': 'Point', 'coordinates': [-74.0138644,..."
2,Forest Hills High School,40.729712,-73.844926,4.0,"{'type': 'Point', 'coordinates': [-73.84492589..."
3,Long Island City High School,40.765470,-73.933053,3.9,"{'type': 'Point', 'coordinates': [-73.93305289..."
4,Beacon School,40.761052,-73.996472,3.9,"{'type': 'Point', 'coordinates': [-73.9964725,..."

In [13]:
client=mongo.localConection()
db = client.companies
coll=db["facilities"] 
coll.insert_many(b.to_dict('record'))
coll.create_index([('geopoint', pymongo.GEOSPHERE)])

'geopoint_2dsphere'